@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --success: rgb(30, 255, 0);
    --error: rgb(245, 0, 0);
}

* {
    box-sizing: border-box;
}

body {
    background-color: hsla(0, 0%, 50%, 0.1);
    font-family: 'open sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    width: 450px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: grey;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid black;
    border-radius: 20px;
    text-indent: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: gray;
}

.form-control .success input {
    border-color: var(--success);
}

.form-control .error input {
    border-color: var(--error);
}

.form-control small {
    color: var(--error);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: rgb(7, 9, 167);
    color: white;
    border: 2px solid rgba(5, 86, 161, 0.753);
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    font-size: 25px;
}

.home {
    cursor: pointer;
    background-color: rgb(7, 9, 167);
    color: white;
    border: 2px solid rgba(5, 86, 161, 0.753);
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    font-size: 25px;
}

.nav {
    margin-top: 20px;
    border-radius: 0 0 5px 5px;
    border: none;
}