@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'questrial, sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0px;
    background-color: #016FB9;
}

h1 {
    color: white;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: black !important;
}

.controls {
    background-color: #000505;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 0 15px 15px;
    position: relative;
}

.screen,
.controls {
    box-shadow: 0 0 15px 5px black;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    justify-self: start;
}

.btn:focus {
    outline: none;
}

.fa-play {
    color: tomato;
}

.fa-stop {
    color: tomato;
}

.fa-pause {
    color: white;
}

span.timestamp {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.volume {
    width: 100px ! important;
}

.controls {
    display: flex;
    position: relative;
}

.progress {
    appearance: none !important;
    align-self: start;
    top: -20px;
    width: 100%;
    background: linear-gradient(90deg, rgb(214, 214, 214) 50%, rgb(214, 214, 214) 50%);
    position: absolute;
    top: -29px;
}

.progress:focus {
    appearance: none;
}

.volume {
    border-radius: 15px;
    background: linear-gradient(90deg, rgb(214, 214, 214) 50%, rgb(214, 214, 214) 50%);
}

#play {
    position: relative;
    left: -240px;
}

#stop {
    position: relative;
    left: -230px;
}

#timestamp {
    position: relative;
    left: -220px;
}

.volume-control {
    position: relative;
    right: -230px;
}

#screensizebtn {
    position: relative;
    right: -240px;
}

#volumebtn {
    position: relative;
    top: 5px;
}

@media(max-width: 800px) {
    .screen,
    .controls {
        width: 90%;
    }
}